body, html {
    height: 100%;
    background-color: rgb(228, 228, 228);
    width: 100%;
  }
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color:  rgb(216, 94, 94);
}

.background {
    background-color: rgb(228, 228, 228);
    height: 100%;
    padding: 0;
    margin: 0;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footerspaceholder{
    width: 100%;
    height: 30vh;    
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 12px 6px -6px #999;
}
/*.navbar .navbar-nav .nav-link:hover {
    background-color: #850404; -> könnt man einbauen für so nen hover effect, macht aba responsiveness hin :/
    color: white;
}*/
.navbar-toggler {
    background-color: white;
  }
.nav-item:hover {
    background-color: #850404;
    color: white!important;
    border-radius: 2px;
}
.nav-link:hover {
    color: white;
}
.accordion-body {
    background-color: lightcoral;
}

.accordion-item {
    width: 80%!important;
}