body {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
#background {
    background-image: url('background.jpeg'); 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
}
#box {
    background-color: lightgray; 
    border: 3px;
    border-radius: 2px;
    border-color: black;
    margin-left: 5em; 
    width: 50em;
    opacity: 100;
}
footer { 
    margin-bottom: 0; 
    padding-top: 60px;
}
#text {
    margin-left: 8px;
    font-size: 1.5em;
}
